# === INFERENCIA UNIVERSAL ===

# === CONFIGURACIÓN LOCAL (OLLAMA) / USAR LLMs (Parallel Tool Calling) ===
#OLLAMA_BASE_URL="http://127.0.0.1:11434"
#OLLAMA_MODEL="gemma4:e4b"

# === INFERENCIA UNIVERSAL (Nvidia) / USAR LLMs (Parallel Tool Calling) ===
#LLM_PROVIDER=openai
#LLM_MODEL_FULL_NAME="openai/meta/llama-3.1-8b-instruct"
#LLM_API_KEY=""
#LLM_BASE_URL="https://integrate.api.nvidia.com/v1"
#LLM_TIMEOUT=300

# === PLANTILLA OPENROUTER / USAR LLMs (Parallel Tool Calling) ===
LLM_MODEL_FULL_NAME="openrouter/google/gemini-3.7-flash"
LLM_API_KEY=""
LLM_BASE_URL="https://openrouter.ai/api/v1"
LLM_TIMEOUT=300

# === APAGADO DE TELEMETRÍA (Resolución de fallos y aislamiento) ===
CREWAI_TELEMETRY_OPT_OUT="true"
ANONYMIZED_TELEMETRY="False"
LITELLM_TELEMETRY="False"

# === RAYRABBIT CLOUD CONFIG ===
RAYRABBIT_API_URL=http://127.0.0.1:8005
RAYRABBIT_P2P_HOST=http://127.0.0.1:8001
SERVICE_HOST=127.0.0.1
SERVICE_PORT=8001
