# === INFERENCIA UNIVERSAL (Agnóstica) ===
#LLM_PROVIDER=openai
#LLM_MODEL_FULL_NAME="openai/mistralai/mistral-large-3-675b-instruct-2512"
#LLM_API_KEY=""
#LLM_BASE_URL="https://integrate.api.nvidia.com/v1"
# Timeout extendido: gemma-4-31b-it en Nvidia NIM tiene alta latencia (~60s/10 tokens)
#LLM_TIMEOUT=300

# === PLANTILLA OPENROUTER (Descomentar para usar cualquier modelo global) ===
LLM_MODEL_FULL_NAME="openrouter/google/gemma-4-31b-it:free"
LLM_API_KEY=""
LLM_BASE_URL="https://openrouter.ai/api/v1"
LLM_TIMEOUT=300


# === PLANTILLA OLLAMA (Descomentar para usar modelos locales) ===
#LLM_PROVIDER=openai
#LLM_MODEL_FULL_NAME="openai/gemma4:E4B-It-QAT"
#LLM_BASE_URL="http://127.0.0.1:11434/v1"       # ← /v1 obligatorio
#LLM_API_KEY="ollama"                           # ← dummy, Ollama lo ignora, LiteLLM
#LLM_TIMEOUT=1200


# URL del Hub (Local)
RAYRABBIT_HUB_URL="http://127.0.0.1:8005"
