# === INFERENCIA UNIVERSAL ===

# === CONFIGURACIÓN LOCAL (OLLAMA) / USAR LLMs (Parallel Tool Calling) ===
#OLLAMA_BASE_URL="http://127.0.0.1:11434"
#OLLAMA_MODEL="gemma4:e4b"

# === PLANTILLA OPENROUTER  / USAR LLMs (Parallel Tool Calling)  ===
LLM_MODEL_FULL_NAME="openrouter/google/gemini-3.7-flash"
LLM_API_KEY=""
LLM_BASE_URL="https://openrouter.ai/api/v1"
LLM_TIMEOUT=300

# === INFERENCIA UNIVERSAL (Nvidia) / USAR LLMs (Parallel Tool Calling) ===
#LLM_PROVIDER=openai
#LLM_MODEL_FULL_NAME="openai/z-ai/glm-5.2"
#LLM_API_KEY=""
#LLM_BASE_URL="https://integrate.api.nvidia.com/v1"
#LLM_TIMEOUT=300
